/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 h1{
    margin: 0.67em 0px;
    font-weight: bold;
 }
 
 h2{
    margin: 0.83em 0px;
 }
 
 p{
   margin: 33px; 
 }
 
 a{
    color: #666666;
 }
 
 td{
    padding: 0px 5px 7px;
 }
 
 label{
    display: block;
 }
 
 ul{
     margin: 33px;
 }
 
 body{
    color: #333;
    margin: 33px;
    line-height: 18px;
    font-size: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
 }

.field{
   margin-bottom: 10px;
}

.actions{
   margin-bottom: 10px;
}

.field_with_errors{
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation{
    width: 450px;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border: 2px solid red;
    background-color: #f0f0f0;
}

#error_explanation h2{
    padding: 5px 5px 5px 15px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
    font-size: 12px;
}

#notice{
    color: green;
}